node_modules/
.env
.DS_Store
*.log
dist/
build/
debug.log
yarn.lock
package-lock.json
coverage/
temp/
.nyc_output/
*.swp
.idea/
.vscode/

# Logs
npm-debug.log*

yarn-debug.log*
yarn-error.log*

# OS-specific files
Thumbs.db
*.bak
*.tmp
node_modules/